<style>
.info{
background-color: lightblue;
padding: 40px;
margin: 30px;
}
</style>



<div class="info  ">


<div class="Book1">
<h5>نبذة عن كتاب لانك الله</h5>
<p>
كتاب لانك الله كتابٌ روحيٌّ يتضمن شرحًا سلسًا وجذابًا لكافة الأعمار والفئات الاجتماعية، تناوَل وصف تسعة من الأسماء الحُسنى لله عزّ وجلّ وهي: “الشكور، والغفور، والهادي، والوكيل، والصمد، والقريب، والجبار، واللطيف، والحفيظ”.

إن كل من قرأ الكتاب لاحظ السحر الذي جعل قلبه وعقله يتفقان، والقدرة التي دفعته للتقييم الذاتي والداخلي لنفسه، حيث فصّل المعاني العظيمة لأسماء الله الحسنى، فمن بعد قراءة الكتاب، لن تبقى أسماء الله هي مجرد كلماتٍ نحفظها فحسب، بل هي أسلوب حياة وتفكير عميق يجب علينا فَهمه.

لا يُعتبر كتاب لانك الله من الكتب الدينيّة التقليدية التي تتبع أسلوب السرد والمعلومات الدينية المباشرة في إيصال الفكرة، فقد بدأ المؤلف كتابه عن طريق سردٍ لطيفٍ لقصةٍ حصلت معه عندما كان طفلًا، حيث سألته أمه: “هل صلّيت العشاء؟”، قال كاذبًا: “نعم”، فقالت له بنبرة الشك: “قل ما شئت لكنّه يراك”، ومن هنا اعترى كاتبنا الخوف وهو طفلٌ، فكلمة “يراك” جعلته يشعر بتأنيب الضمير، ويبحث في أسماء الله الحُسنى ومعانيها.

وقد تقصّد الكاتب استخدام اللغة البسيطة المفهومة ليكون الكتاب متاحًا لجميع المستويات الثقافية، حرصًا منه على انتشار معلوماته على أوسع نطاقٍ، حيث يؤكّد الكتاب على أن الله أنعم علينا بالكثير، ونعمه موجودةٌ حولنا وفي كل مكانٍ، لكننا نغفل عنها بسبب لَهْونا عن ذكره واستذكاره، وإن كل إنسانٍ بحاجةٍ إلى الله في جميع حالاته، في الفرح والضيق، في الخوف والأمان، في الفشل والنجاح، وبدون الله؛ لا يستطيع أيًّا منا أن يكسب مثقال ذرّةٍ في حياته، فكل هذه المعاني والمعلومات تجعلك قريبًا من الله، مع صفاءٍ في الروح وسعادةٍ داخليةٍ.</p>


</div>

<div class="Book2">
<h5>رسائل من القرآن</h5>
<p>كتاب رسائل من القرآن يعد واحد من أجمل الكتب في تفسير بعض آيات القرآن الكريم التي تساعد على الشفاء. ويدعو الكتاب إلى التأمل في الخلق والمخلوقات والأزمات الإنسانية التي تمر على البشر من خلال نقل تجارب الأنبياء والصالحين المذكورين في القرآن لتكون رسالة لنا. وقد بين الكتاب الأخلاق الحميدة ممن ورد ذكرهم في القرآن، مثل: حسن الظن بالله، الثقة في الله، أو الصبر على الابتلاءات، التسامح والعفو، إكرام الضيف، وغيرها من الصفات.</p>
</div>

<div class="Book3">
<h5>كوني صحابية</h5>
<p>
تعتبر رواية كوني صحابية للأستاذة حنان لاشين مجموعة من المقالات الموجهة بشكل رئيسي إلى الفتيات في سن المراهقة فما فوق قليلًا. تحدثنا عن الصحابيات وحياتهن، وكيف السبيل للتأسي بهن والثبات على طريقهن.

تعتبر هذه الرواية للكاتبة العريقة حنان لاشين إستكمال لرحلتها في ربط عقل القارئ الكريم بقلبه، عن طريق خلق رابط معنوي فريد بينه وبين شخصيات الرواية. حتى يشعر الكاتب أنه منغمس إنغماس شديد في أحداثها ولا يمكنه الخروج منها وفي نفس الوقت لا يشعر بالملل مطلقًا.

تفجؤك حنان لاشين بالمصطلحات الحديثة والعربية في آن واحد، مصطلحات قريبة من أذهان القراء حتى تسهل عليهم فهم ما تريد قوله. لا تلجأ عادة إلى البذاءة والضحالة في اختيار المصطلحات والمفاهيم.

تساعدنا حنان لاشين في هذه الرواية في إكتشاف جزء كبير غائب من حياتنا وتفاصيلها، تعتبر الرواية فرصة للوقوف مع نفسك برهة وإكتشاف بعض المشكلات ومناقشة حلها. من سعادة وحزن، ومن حزن لفرح، تنوع في التفاصيل وآليات العلاج.</p>
</div>

<div class="Book4">
<h5>فاتتني صلاة</h5>
<p>كتاب “فاتتني صلاة” للكاتب إسلام جمال يهدف إلى تعزيز الوعي حول أهمية المحافظة على الصلاة وخاصة صلاة الفجر، ويذكر بمكانة الصلاة الركن الثاني من أركان الإسلام، كما يركز على الأفكار والاعتقادات التي تؤثر على سلوك الإنسان وتصرفاته.

ونجح المؤلف إسلام جمال في طرح أفكاره بأسلوب بسيط وقريب للفهم باستخدامه لغة سهلة وبسيطة ضمن تسلسل منطقي وسلس لموضوعات الكتاب.

وينطلق إسلام جمال في الكتاب من محاولته للإجابة على سؤال : “لماذا يحافظ البعض على الصلاة بينما يتركها الكثير؟” ومن المقدمة  يبحث عن السر الكامن وراء المحافظة عليها بعقد مقارنة بين رجل طاعن في السن لا يتخلف عن أداء الصلاة بالرغم من مرضه وكبر سنه، بينما في المقابل هناك من يضع الأعذار لنفسه لتكاسله عنها بأنه لا يملك الوقت مثلًا وغير ذلك من الأعذار التي يقنع بها نفسه.
</p>
</div>

<div class="Book5">
<h5>هوَ عِصمَةُ أمرِي</h5>
<p>بذه عن الكتاب

يتناول هذا الكتاب مجموعة مواضيع مهمة في التنمية الذاتية والأسرة, من جوانب معرفية وخبرات طرحتها المؤلفة على شكل محاضرات تفاعلية مكتوبة لتكون أقرب للمتلقي وبعيدة عن النمط الدارج لكتب التنمية التي تعتمد في معظمها على الخطابية وتقديم النصائح.
مواضيع كالعلاقات الإنسانية السلبية منها والإيجابية وكيفية التعامل مع الأشخاص في الحياة اليومية, بالإضافة لشؤون الحياة الزوجية والتعامل مع الأطفال.

تفاصيل الكتاب
ردمك (ISBN):9786257240600
تأليف:د. هالة سمير
دار النشر:موزاييك للدراسات والنشر
التصنيف:تطوير الذات
اللغة:العربية
سنة النشر:2022
عدد الصفحات:100
الغلاف:تغليف ورقي
الوزن (كجم):0.22</p>
</div>

<div class="Book6">

</div>

<div class="book7">

</div>

<div class="Book8">

</div>
</div>
<a href="{% url 'website_books' %}" class="btn btn-outline-primary">return </a>
</div>